header{
height: 100px;
width: 1000px;
background-color: #23082b;
color: #fff;
font-size: 40px;
}
nav{
height: 30px;
width: 350px;
float: right;
background-color: #824094;
margin-top: 65;
font-size: 22px;
border-color: #000;
border-style: solid;
text-align: center;
}
aside{
width: 200px;
height: 457px;
background-color: #a961bd;
margin-left: 20px;
margin-top: 12px;
border-radius: 20px;
border-color: #23082b;
border-style: double;
border-width: 7;
float: left;
padding: 5;
}
article{
height: 457px;
width: 700;
background-color: #a961bd;
float: right;
border-radius: 20px;
border-color: #23082b;
border-style: double;
border-width: 7;
margin-top: 12px;
margin-right: 20px;
padding: 5;
}
footer{
background-color: #0d0710;
height: 100;
width: 1000;
color: #fff;
}
section{
height: 500px;
width: 1000px;
background-color: #602870;
overflow: auto;
}
a{
color: #000
}